@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 30% 10%;
    --foreground: 120 10% 95%;

    --card: 120 25% 15%;
    --card-foreground: 120 10% 95%;

    --popover: 120 25% 15%;
    --popover-foreground: 120 10% 95%;

    --primary: 122 39% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 25 50% 35%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 33%;
    --muted-foreground: 0 0% 70%;

    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 122 39% 49%;

    --radius: 0.25rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 120 30% 10%;
    --foreground: 120 10% 95%;

    --card: 120 25% 15%;
    --card-foreground: 120 10% 95%;

    --popover: 120 25% 15%;
    --popover-foreground: 120 10% 95%;

    --primary: 122 39% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 25 50% 35%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 33%;
    --muted-foreground: 0 0% 70%;

    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 122 39% 49%;
    --sidebar-background: 120 25% 15%;
    --sidebar-foreground: 120 10% 95%;
    --sidebar-primary: 122 39% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 25 50% 35%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 122 39% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Rubik", sans-serif;
  }
}
